{% extends 'base.html.twig' %}
{% block body %}



<!-- login form -->
<div class="login-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <div class=" offset-2 col-lg-4 col-md-6 ml_md--0 ml_sm--0 col-sm-12">
                <div class="form-wrapper-one">
                    <h4>Login</h4>
                    <form method="POST">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div class="mb-5">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required>
                        </div>
                        <div class="mb-5">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <div class="mb-5 rn-check-box">
                            <input type="checkbox" class="rn-check-box-input" id="exampleCheck1">
                            <label class="rn-check-box-label" for="exampleCheck1">Remember me leter</label>
                        </div>
                        <button class="btn btn-lg btn-primary" type="submit">
                            log in
                        </button>
                        <a href="{{path('app_register')}}" class="btn btn-primary-alta">Sign Up</a>
                    </form>
                </div>
            </div>
{#            <script>#}
{#              #}
{#                // function editProfile(event) {#}
{#                //     event.preventDefault();#}
{#                //     let formData = new FormData();#}
{#                //     let email=$('#email').val();#}
{#                //     let password=$('#password').val();#}
{#                //     formData.append('email',email);#}
{#                //     formData.append('password',password);#}
{#                //     $.ajax({#}
{#                //#}
{#                //         url: '/login',#}
{#                //         type: "POST",#}
{#                //         data:formData,#}
{#                //         async: true,#}
{#                //         processData: false,#}
{#                //         contentType: false,#}
{#                //         success: function (response) {#}
{#                //             console.log(response.state);#}
{#                //#}
{#                //         },#}
{#                //         error: function (response) {#}
{#                //             console.log("error");#}
{#                //         },#}
{#                //     });#}
{#                // }#}

{#            </script>#}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="social-share-media form-wrapper-one">
                    <h6>Another way to log in</h6>
                    <p> Lorem ipsum dolor sit, amet sectetur adipisicing elit.cumque.</p>
                    <button id="loginWithGoogleButton"  class="another-login login-facebook"> <img class="small-image" src="assets/images/icons/google.png" alt=""> <span>Log in with Google</span></button>
                    <button class="another-login login-facebook"> <img class="small-image" src="assets/images/icons/facebook.png" alt=""> <span>Log in with Facebook</span></button>
                    <button class="another-login login-twitter"> <img class="small-image" src="assets/images/icons/tweeter.png" alt=""> <span>Log in with Twitter</span></button>
                    <button class="another-login login-linkedin"> <img class="small-image" src="assets/images/icons/linkedin.png" alt=""> <span>Log in with linkedin</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

        var loginWithGoogleButton = document.getElementById('loginWithGoogleButton');
        loginWithGoogleButton.addEventListener('click', function() {
        window.location.href = '/connect/google';
    });


</script>
<!-- login form end -->

{% endblock %}