{% extends 'index.html.twig' %}

{% block title %}Purchasers and Sellers{% endblock %}

{% block body %}
<div class="content">
    <div class="pb-9">
        <h2 class="mb-4">Purchasers and Sellers</h2>
        <!-- Other buttons and search form here -->

        <div class="row gy-5">
            <div class="col-xl-5 col-xxl-4">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <div class="card">
                <div class="card-body">
            <h4 class="card-title">Future Prediction</h4>
            <p>Based on current trends, we predict there will be approximately {{ prediction }} reclamations tomorrow.</p>
        </div>
                </div>
            </div>
            <div class="col-xl-7 col-xxl-8">
                <div class="border-top border-translucent">
                    <div id="purchasersSellersTable" data-list='{"valueNames":["deals_name","deal_owner","account_name","stage","amount"],"page":10,"pagination":true}'>
                        <div class="table-responsive scrollbar mx-n1 px-1">
                            <table class="table table-sm fs-9 leads-table">
                                <thead>
                                    <tr>
                                        <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                                            <div class="form-check mb-0 fs-8">
                                                <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"purchasers-sellers-body"}'>
                                            </div>
                                        </th>
                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="stage" style="min-width:160px;">PrivateKey</th>
                                        <th class="sort align-middle ps-0 pe-5 text-uppercase text-nowrap" scope="col" data-sort="deals_name" style="min-width:120px;">Subject</th>
                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="deal_owner" style="min-width:50px;">Deal owner</th>
                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="account_name" style="min-width:250px;">Description</th>
                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="amount" style="min-width:50px;">Date</th>
                                        <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="list" id="purchasers-sellers-body">
                                    {% for reclamation in reclamations %}
                                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                            <td class="fs-9 align-middle py-0">
                                                <div class="form-check mb-0 fs-8">
                                                    <input class="form-check-input" type="checkbox" data-bulk-select-row='{"dealsName":"{{ reclamation.id }}"}'>
                                                </div>
                                            </td>
                                            <td class="stage align-middle white-space-nowrap fw-bold text-body py-0">{{ reclamation.privateKey }}</td>
                                            <td class="deals_name align-middle white-space-nowrap fw-semibold text-body-highlight ps-0 py-0">{{ reclamation.subject }}</td>
                                            <td class="deal_owner align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-0">{{ reclamation.user ? reclamation.user.username : 'N/A' }}</td>
                                            <td class="account_name align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">
                                                {% if reclamation.description|length > 30 %}
                                                    {{ reclamation.description|slice(0, 30) }}...
                                                {% else %}
                                                    {{ reclamation.description }}
                                                {% endif %}
                                            </td>
                                            <td class="amount align-middle white-space-nowrap fw-bold ps-4 text-body py-0">{{ reclamation.date ? reclamation.date|date('Y-m-d\\TH:i:sP')|time_ago : '' }}</td>
                                            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                                <div class="btn-reveal-trigger position-static">
                                                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                                        <svg class="svg-inline--fa fa-ellipsis fs-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                                            <path fill="currentColor" d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"></path>
                                                        </svg>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-end py-2">
                                                        <a class="dropdown-item" href="#!">add Response</a>
                                                        <a class="dropdown-item" href="#!">Export</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="#!">Remove</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row align-items-center justify-content-between pe-0 fs-9">
                            <div class="col-auto d-flex">
                                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info">1 to 10
                                    <span class="text-body-tertiary">
                                        Items of
                                    </span>
                                    {{ reclamations|length }}</p>
                                <a class="fw-semibold" href="#!" data-list-view="*">View all
                                    <svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="" style="transform-origin: 0.25em 0.5625em;">
                                        <g transform="translate(128 256)">
                                            <g transform="translate(0, 32) scale(1, 1) rotate(0 0 0)">
                                                <path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z" transform="translate(-128 -256)"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                                <a class="fw-semibold d-none" href="#!" data-list-view="less">View Less
                                    <svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="" style="transform-origin: 0.25em 0.5625em;">
                                        <g transform="translate(128 256)">
                                            <g transform="translate(0, 32) scale(1, 1) rotate(0 0 0)">
                                                <path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto d-flex">
                                <button class="page-link disabled" data-list-pagination="prev" disabled="">
                                    <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                        <path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path>
                                    </svg>
                                </button>
                                <ul class="mb-0 pagination">
                                    <li class="active">
                                        <button class="page" type="button" data-i="1" data-page="10">1</button>
                                    </li>
                                    <li>
                                        <button class="page" type="button" data-i="2" data-page="10">2</button>
                                    </li>
                                </ul>
                                <button class="page-link pe-0" data-list-pagination="next">
                                    <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                                        <path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Prediction Section -->
        
        <footer class="footer position-absolute">
            <div class="row g-0 justify-content-between align-items-center h-100">
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span>
                        <span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none">2023 ©<a class="mx-1" href="https://themewagon.com/">Themewagon</a>
                    </p>
                </div>
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 text-body-tertiary text-opacity-85">v1.14.0</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const ctx = document.getElementById('myChart').getContext('2d');
            const labels = {{ labels|json_encode|raw }};
            const counts = {{ counts|json_encode|raw }};
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Reclamations by Date',
                        data: counts,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
