{% extends 'index.html.twig' %}

{% block title %}
    Purchasers and Sellers
{% endblock %}




{% block body %}


    <div class="content">

        <div class="pb-9">
            <h2 class="mb-4">Reclamations and responses</h2>
            <div class="row gy-5">
                <div class="col-xl-5 col-xxl-4">
                    <div class="card">
                        <div class="card-body" style="height: 640px">

                            <canvas id="myChart"></canvas>
                            <h4 class="card-title mt-5">
                                Future Prediction
                            </h4>
                            <p>
                                Based on current trends, we predict there will be approximately
                                {{ prediction }}
                                reclamations tomorrow.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-xl-7 col-xxl-8">
                    <div class="border-top border-translucent">
                        <div id="purchasersSellersTable"
                             data-list='{"valueNames":["deals_name","deal_owner","account_name","stage","amount"],"page":10,"pagination":true}'>
                            <div class="table-responsive scrollbar mx-n1 px-1">
                                <table class="table table-sm fs-9 leads-table">
                                    <thead>
                                    <tr>

                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col"
                                            data-sort="stage" style="min-width:160px;">
                                            Image
                                        </th>
                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col"
                                            data-sort="stage" style="min-width:160px;">
                                            PrivateKey
                                        </th>
                                        <th class="sort align-middle ps-0 pe-5 text-uppercase text-nowrap" scope="col"
                                            data-sort="deals_name" style="min-width:120px;">
                                            Subject
                                        </th>
                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col"
                                            data-sort="deal_owner" style="min-width:50px;">
                                            User Name
                                        </th>
                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col"
                                            data-sort="account_name" style="min-width:250px;">
                                            Description
                                        </th>
                                        <th class="sort white-space-nowrap align-middle ps-4" scope="col"
                                            style="width:350px;">
                                            ETAT
                                        </th>
                                        <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col"
                                            data-sort="amount" style="min-width:50px;">
                                            Date
                                        </th>
                                        <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="list" id="purchasers-sellers-body">
                                    {% for reclamation in reclamations %}
                                        <tr class="hover-actions-trigger btn-reveal-trigger position-static"
                                            data-reclamation-id="{{ reclamation.id }}">

                                            <td>
                                                {% if reclamation.getImage() %}
                                                    <img src="{{ asset('usersImg/' ~ reclamation.getImage()) }}"
                                                         data-gallery="gallery-posts-1"
                                                         style="width: 50px; height: 50px; object-fit: cover;"/>
                                                {% else %}
                                                    <img src="{{ asset('images/blog/aucuneImg.png') }}"
                                                         alt="Default_Image"
                                                         style="width: 50px; height: 50px; object-fit: cover;"/>
                                                {% endif %}
                                            </td>

                                            <td class="stage align-middle white-space-nowrap fw-bold text-body py-0 ">
                                                {{ reclamation.privateKey }}
                                            </td>
                                            <td class="deals_name align-middle white-space-nowrap fw-semibold text-body-highlight ps-0 py-0">
                                                {{ reclamation.subject }}
                                            </td>
                                            <td class="deal_owner align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-0">
                                                {{ reclamation.user ? reclamation.user.firstName : 'N/A' }}
                                            </td>
                                            <td class="account_name align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">
                                                {% if reclamation.description|length > 30 %}
                                                    {{ reclamation.description|slice(0, 30) }}
                                                    ...
                                                {% else %}
                                                    {{ reclamation.description }}
                                                {% endif %}
                                            </td>
                                            <td class="stage align-middle white-space-nowrap fw-bold text-body py-0">
                                                <div class="d-flex align-items-center gap-3">
                                                    {% if reclamation.reponses|length > 0 %}
                                                        <!-- Full, green progress bar -->
                                                        <div style="--phoenix-circle-progress-bar:100">
                                                            <svg class="circle-progress-svg" width="54" height="54"
                                                                 viewBox="0 0 170 170">
                                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54"
                                                                        fill="none" stroke-linecap="round"
                                                                        stroke-width="12"></circle>
                                                                <circle class="progress-bar-top" cx="60" cy="60" r="54"
                                                                        fill="none" stroke-linecap="round"
                                                                        stroke="#28a745" stroke-width="12"></circle>
                                                            </svg>
                                                        </div>
                                                        <button type="button" class="btn btn-link text-success p-0"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#reclamationDetailsModal"
                                                                data-reclamation-id="{{ reclamation.id }}">
                                                            Done
                                                        </button>
                                                    {% else %}
                                                        <!-- Partial, blue progress bar -->
                                                        <div style="--phoenix-circle-progress-bar:20">
                                                            <svg class="circle-progress-svg" width="54" height="54"
                                                                 viewBox="0 0 170 170">
                                                                <circle class="progress-bar-rail" cx="60" cy="60" r="54"
                                                                        fill="none" stroke-linecap="round"
                                                                        stroke-width="12"></circle>
                                                                <circle class="progress-bar-top" cx="60" cy="60" r="54"
                                                                        fill="none" stroke-linecap="round"
                                                                        stroke="#3874FF" stroke-width="12"></circle>
                                                            </svg>
                                                        </div>
                                                        <h6 class="mb-0 text-body">
                                                            Pending
                                                        </h6>
                                                    {% endif %}
                                                </div>
                                            </td>

                                            <td class="amount align-middle white-space-nowrap fw-bold ps-4 text-body py-0">
                                                {{ reclamation.date ? reclamation.date|date('Y-m-d\\TH:i:sP')|time_ago : '' }}
                                            </td>
                                            <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                                <div class="btn-reveal-trigger position-static">
                                                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10"
                                                            type="button" data-bs-toggle="dropdown"
                                                            data-boundary="window" aria-haspopup="true"
                                                            aria-expanded="false" data-bs-reference="parent">
                                                        <svg class="svg-inline--fa fa-ellipsis fs-10" aria-hidden="true"
                                                             focusable="false" data-prefix="fas" data-icon="ellipsis"
                                                             role="img" xmlns="http://www.w3.org/2000/svg"
                                                             viewBox="0 0 448 512" data-fa-i2svg="">
                                                            <path fill="currentColor"
                                                                  d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"></path>
                                                        </svg>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-end py-2">
                                                        <a class="dropdown-item add-response-btn" href="#"
                                                           data-reclamation-id="{{ reclamation.id }}"
                                                           data-reclamation-subject="{{ reclamation.subject }}"
                                                           data-reclamation-description="{{ reclamation.description }}">
                                                            Add Response
                                                        </a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger remove-reclamation-btn"
                                                           href="#" data-reclamation-id="{{ reclamation.id }}">
                                                            Remove
                                                        </a>

                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="row align-items-center justify-content-between pe-0 fs-9">
                                <div class="col-auto d-flex">
                                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body"
                                       data-list-info="data-list-info"></p><a class="fw-semibold" href="#!"
                                                                              data-list-view="*">View all<span
                                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                            class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span
                                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                                </div>
                                <div class="col-auto d-flex">
                                    <button class="page-link" data-list-pagination="prev"><span
                                                class="fas fa-chevron-left"></span></button>
                                    <ul class="mb-0 pagination"></ul>
                                    <button class="page-link pe-0" data-list-pagination="next"><span
                                                class="fas fa-chevron-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="alert"></div>
        <!-- Modal HTML -->
        <div class="modal fade" id="reclamationDetailsModal" tabindex="-1"
             aria-labelledby="reclamationDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="reclamationDetailsModalLabel">
                            Reclamation Details
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <h6>
                                <strong>
                                    Subject:
                                </strong>
                            </h6>
                            <p class="form-control" id="reclamationSubject"></p>
                        </div>
                        <div class="mb-3">
                            <h6>
                                <strong>
                                    Description:
                                </strong>
                            </h6>
                            <p class="form-control" id="reclamationDescription"></p>
                        </div>
                        <div id="reclamationResponses" class="mb-3">
                            <h6>
                                <strong>
                                    Responses:
                                </strong>
                            </h6>
                            <ul id="responsesList" class="list-group"><!-- Responses will be populated here -->
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal HTML -->
        <div class="modal fade" id="addResponseModal" tabindex="-1" aria-labelledby="addResponseModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addResponseModalLabel">
                            Add Response to Reclamation
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>
                                Subject:
                            </strong>
                            <span id="reclamationSubject"></span>
                        </p>
                        <p>
                            <strong>
                                Description:
                            </strong>
                            <span id="reclamationDescription"></span>
                        </p>
                        <div class="mb-4">
                            <label class="fw-bold mb-2 error-label" id="error-label"></label>
                        </div>
                        <form id="responseForm">
                            <div class="mb-3">
                                <label for="responseText" class="form-label">
                                    Your Response
                                </label>
                                <textarea class="form-control" id="responseText" rows="3" required></textarea>
                            </div>
                            <input type="hidden" id="reclamationId">
                            <button type="submit" class="btn btn-primary">
                                Submit Response
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer position-absolute">
            <div class="row g-0 justify-content-between align-items-center h-100">
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span
                                class="d-none d-sm-inline-block"></span><span
                                class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none"/>2023 &copy;<a
                                class="mx-1" href="https://themewagon.com/">Themewagon</a></p>
                </div>
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 text-body-tertiary text-opacity-85">v1.14.0</p>
                </div>
            </div>
        </footer>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
    const canvas = document.getElementById('myChart');
    const ctx = canvas.getContext('2d');

    canvas.height = 320;

    const labels = {{ labels|json_encode|raw }};
    const counts = {{ counts|json_encode|raw }};
    const responseCounts = {{ responseCounts|json_encode|raw }};
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [
                {
                    label: '# of Reclamations by Date',
                    data: counts,
                    backgroundColor: 'rgba(255, 217, 2)',
                    borderWidth: 1
                },
                {
                    label: '# of Responses by Date',
                    data: responseCounts,
                    backgroundColor: 'rgba(0, 104, 159)',
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    position: 'bottom'
                }
            }
        }
    });
});
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const addResponseBtns = document.querySelectorAll('.add-response-btn');
            const responseModal = new bootstrap.Modal(document.getElementById('addResponseModal'));

            addResponseBtns.forEach(btn => {
                btn.addEventListener('click', (e) => {
                    e.preventDefault();
                    const reclamationId = btn.getAttribute('data-reclamation-id');
                    const subject = btn.getAttribute('data-reclamation-subject');
                    const description = btn.getAttribute('data-reclamation-description');

                    document.getElementById('reclamationId').value = reclamationId;
                    document.getElementById('reclamationSubject').textContent = subject;
                    document.getElementById('reclamationDescription').textContent = description;

                    responseModal.show();
                });
            });

            document.getElementById('responseForm').addEventListener('submit', function (e) {
                e.preventDefault();
                const reclamationId = document.getElementById('reclamationId').value;
                const responseText = document.getElementById('responseText').value;

                $.ajax({
                    url: '/reclamation/' + reclamationId + '/add-response',
                    method: 'POST',
                    data: {
                        response: responseText
                    },
                    success: function (response) {
                        $('#alert').html('<div class="alert alert-subtle-success" role="alert">Reponse  Sent successfully!</div>');
                        setTimeout(function () {
                            $('#alert').empty();
                        }, 4000);
                        responseModal.hide();
                        // Update the table row with the new response
                        var rowToUpdate = document.querySelector('tr[data-reclamation-id="' + reclamationId + '"]');
                        var responseCell = rowToUpdate.querySelector('.response-cell-class');
                        responseCell.textContent = response.newResponse || 'Done';
                        responseCell.classList.remove('badge-phoenix-danger');
                        responseCell.classList.add('badge-phoenix-success');
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON && xhr.responseJSON.error === 'VALIDATION_ERROR') {
                            const errorMessage = xhr.responseJSON.messages.join(', ');
                            const errorMessagesArray = errorMessage.split(',');
                            let errorMessagesHTML = '';
                            errorMessagesArray.forEach((message) => {
                                errorMessagesHTML += `<div>${message.trim()}</div>`;
                            });
                            document.querySelector('.error-label').innerHTML = errorMessagesHTML;
                        } else {

                            var errorMessage = 'An error occurred';
                            if (xhr.responseJSON && xhr.responseJSON.error) {
                                errorMessage = xhr.responseJSON.error;
                            }
                            $('#alert').html(' <div class="alert alert-subtle-danger" role="alert">An error occured while Sening reponse!</div>');
                            setTimeout(function () {
                                $('#alert').empty();
                            }, 4000);
                        }
                    }
                });
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const reclamationDetailsModal = document.getElementById('reclamationDetailsModal');
            reclamationDetailsModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const reclamationId = button.getAttribute('data-reclamation-id');

                fetch(`/api/reclamations/${reclamationId}`)
                    .then(response => response.json())
                    .then(data => {

                        document.getElementById('reclamationSubject').textContent = data.subject;
                        document.getElementById('reclamationDescription').textContent = data.description;

                        const responsesList = document.getElementById('responsesList');
                        responsesList.innerHTML = '';

                        data.responses.forEach(response => {
                            const listItem = document.createElement('li');
                            listItem.className = 'list-group-item';
                            listItem.textContent = response.description;
                            responsesList.appendChild(listItem);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const removeReclamationBtns = document.querySelectorAll('.remove-reclamation-btn');

            removeReclamationBtns.forEach(btn => {
                btn.addEventListener('click', function (e) {
                    e.preventDefault();
                    const reclamationId = this.getAttribute('data-reclamation-id');

                    if (confirm('Are you sure you want to delete this reclamation and its responses?')) {
                        fetch(`/reclamation/delete/${reclamationId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-Requested-With': 'XMLHttpRequest'
                            },
                            body: JSON.stringify({_method: 'DELETE'}) // Add CSRF token if necessary
                        })
                            .then(response => {
                                if (response.ok) {
                                    $('#alert').html('<div class="alert alert-subtle-success" role="alert">Response Deleted successfully!</div>');
                                    setTimeout(function () {
                                        $('#alert').empty();
                                    }, 4000);
                                    // Optionally, remove the row from the table
                                    document.querySelector(`tr[data-reclamation-id="${reclamationId}"]`).remove();
                                } else {
                                    $('#alert').html('<div class="alert alert-subtle-danger" role="alert">Error while updating Response!</div>');
                                    setTimeout(function () {
                                        $('#alert').empty();
                                    }, 4000);
                                }
                            })
                            .catch(error => {
                                $('#alert').html('<div class="alert alert-subtle-danger" role="alert">Error while updating Reponse!</div>');
                                setTimeout(function () {
                                    $('#alert').empty();
                                }, 4000);
                            });
                    }
                });
            });
        });

    </script>
{% endblock %}

