{% extends 'index.html.twig' %}

{% block title %}Purchasers and Sellers
{% endblock %}

{% block body %}
    <div class="content">
        <div class="pb-9">
            <h2 class="mb-4">Purchasers and Sellers</h2>
            <div class="row g-3 justify-content-between mb-4">
                <div class="col-auto">
                    <div class="d-flex flex-wrap gap-2">
                        <button class="btn btn-primary">
                            <svg class="svg-inline--fa fa-envelope me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M464 64C490.5 64 512 85.49 512 112C512 127.1 504.9 141.3 492.8 150.4L275.2 313.6C263.8 322.1 248.2 322.1 236.8 313.6L19.2 150.4C7.113 141.3 0 127.1 0 112C0 85.49 21.49 64 48 64H464zM217.6 339.2C240.4 356.3 271.6 356.3 294.4 339.2L512 176V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V176L217.6 339.2z"></path>
                            </svg>
                            Send mail
                        </button>
                        <button class="btn btn-phoenix-primary">
                            <svg class="svg-inline--fa fa-pencil me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pencil" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M421.7 220.3L188.5 453.4L154.6 419.5L158.1 416H112C103.2 416 96 408.8 96 400V353.9L92.51 357.4C87.78 362.2 84.31 368 82.42 374.4L59.44 452.6L137.6 429.6C143.1 427.7 149.8 424.2 154.6 419.5L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3zM492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75z"></path>
                            </svg>
                            Edit
                        </button>
                        <button class="btn btn-phoenix-secondary text-body">
                            <svg class="svg-inline--fa fa-file-export fs-9 me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-export" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M192 312C192 298.8 202.8 288 216 288H384V160H256c-17.67 0-32-14.33-32-32L224 0H48C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48v-128H216C202.8 336 192 325.3 192 312zM256 0v128h128L256 0zM568.1 295l-80-80c-9.375-9.375-24.56-9.375-33.94 0s-9.375 24.56 0 33.94L494.1 288H384v48h110.1l-39.03 39.03C450.3 379.7 448 385.8 448 392s2.344 12.28 7.031 16.97c9.375 9.375 24.56 9.375 33.94 0l80-80C578.3 319.6 578.3 304.4 568.1 295z"></path>
                            </svg>
                            Export
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="row gy-5">
                <div class="col-xl-5 col-xxl-4">
                    <div class="card">
                        <!--show stat here-->
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-xxl-8">
                    <div class="border-top border-translucent">
                        <div id="purchasersSellersTable" data-list="{&quot;valueNames&quot;:[&quot;deals_name&quot;,&quot;deal_owner&quot;,&quot;account_name&quot;,&quot;stage&quot;,&quot;amount&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
                            <div class="table-responsive scrollbar mx-n1 px-1">
                                <table class="table table-sm fs-9 leads-table">
                                    <thead>
                                        <tr>
                                            <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                                                <div class="form-check mb-0 fs-8">
                                                    <input class="form-check-input" type="checkbox" data-bulk-select="{&quot;body&quot;:&quot;purchasers-sellers-body&quot;}">
                                                </div>
                                            </th>
                                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="stage" style="min-width:160px;">PrivateKey</th>
                                            <th class="sort align-middle ps-0 pe-5 text-uppercase text-nowrap" scope="col" data-sort="deals_name" style="min-width:120px;">
                                                Subject</th>
                                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="deal_owner" style="min-width:50px;">Deal owner</th>
                                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="account_name" style="min-width:250px;">Description</th>
                                            <th class="sort align-middle ps-4 pe-5 text-uppercase text-nowrap" scope="col" data-sort="amount" style="min-width:50px;">Date</th>
                                            <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="list" id="purchasers-sellers-body">
                                        {% for reclamation in reclamations %}
                                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                                <td class="fs-9 align-middle py-0">
                                                    <div class="form-check mb-0 fs-8">
                                                        <input class="form-check-input" type="checkbox" data-bulk-select-row="{&quot;dealsName&quot;:&quot;{{ reclamation.id }}&quot;}">
                                                    </div>
                                                </td>
                                                <td class="stage align-middle white-space-nowrap fw-bold text-body py-0">{{ reclamation.privateKey }}</td>
                                                <td class="deals_name align-middle white-space-nowrap fw-semibold text-body-highlight ps-0 py-0">{{ reclamation.subject }}</td>
                                                <td class="deal_owner align-middle white-space-nowrap fw-semibold text-body-emphasis ps-4 py-0">{{ reclamation.user ? reclamation.user.username : 'N/A' }}</td>
                                                <td class="account_name align-middle white-space-nowrap ps-4 fw-semibold text-body py-0">
                                                    {% if (reclamation.description|length) > 30 %}
                                                        {{ reclamation.description|slice(0, 30) }}...
                                                    {% else %}
                                                        {{ reclamation.description }}
                                                    {% endif %}
                                                </td>
                                                <td class="amount align-middle white-space-nowrap fw-bold ps-4 text-body py-0">{{ reclamation.date ? reclamation.date|date('Y-m-d\\TH:i:sP')|time_ago : '' }}</td>
                                                <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                                                    <div class="btn-reveal-trigger position-static">
                                                        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                                                            <svg class="svg-inline--fa fa-ellipsis fs-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" data-fa-i2svg="">
                                                                <path fill="currentColor" d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z"></path>
                                                            </svg>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-end py-2">
                                                            <a class="dropdown-item" href="#!">View</a>
                                                            <a class="dropdown-item" href="#!">Export</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item text-danger" href="#!">Remove</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row align-items-center justify-content-between pe-0 fs-9">
                                <div class="col-auto d-flex">
                                    <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info">1 to 10
                                        <span class="text-body-tertiary">
                                            Items of
                                        </span>
                                        {{ reclamations|length }}</p>
                                    <a class="fw-semibold" href="#!" data-list-view="*">View all
                                        <svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 512" data-fa-i2svg="" style="transform-origin: 0.25em 0.5625em;">
                                            <g transform="translate(128 256)">
                                                <g transform="translate(0, 32) scale(1, 1) rotate(0 0 0)">
                                                    <path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z" transform="translate(-128 -256)"></path>
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <a class="fw-semibold d-none" href="#!" data-list-view="less">View Less
                                        <svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 256 512" data-fa-i2svg="" style="transform-origin: 0.25em 0.5625em;">
                                            <g transform="translate(128 256)">
                                                <g transform="translate(0, 32) scale(1, 1) rotate(0 0 0)">
                                                    <path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                                <div class="col-auto d-flex">
                                    <button class="page-link disabled" data-list-pagination="prev" disabled="">
                                        <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512" data-fa-i2svg="">
                                            <path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path>
                                        </svg>
                                    </button>
                                    <ul class="mb-0 pagination">
                                        <li class="active">
                                            <button class="page" type="button" data-i="1" data-page="10">1</button>
                                        </li>
                                        <li>
                                            <button class="page" type="button" data-i="2" data-page="10">2</button>
                                        </li>
                                    </ul>
                                    <button class="page-link pe-0" data-list-pagination="next">
                                        <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512" data-fa-i2svg="">
                                            <path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

